<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574168086072-fru7hjoffo74o3jibrushh3sjqsglj73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574168086072-fru7hjoffo74o3jibrushh3sjqsglj73</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>574168086072-9r9jp04ppf7ftfqvp69tu0p9o3b79htm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADRB_3ccCLNwL-8O9AXURiPx3cPP6_ozw</string>
	<key>GCM_SENDER_ID</key>
	<string>574168086072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dzcoins</string>
	<key>PROJECT_ID</key>
	<string>dzmovement-573e0</string>
	<key>STORAGE_BUCKET</key>
	<string>dzmovement-573e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574168086072:ios:3d00753f94c0c16cec18cd</string>
</dict>
</plist>